/* styles/styles.css */

.center-container {
    text-align: center;
}

.image-container {
    position: relative;
    display: inline-block;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}